*{
    margin: 0;
    padding: 0;
}

nav{
    background: #1a1244;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px ;
}

nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 5px 10px ;
}
nav ul li a { 
    text-decoration: none;
    font-size: 1.32rem;
    color: #e0d8d8;
    font-weight: bold;
    padding: 10px 16px ;
    transition: .5s;
}
nav ul li a:hover {
    background: #000;
    color: #f00;
    border-radius: 8px;
}

nav div{
    color: #fff;
}