*{
    margin: 0;
    padding: 0;
}

nav{
    background: #101631e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px ;
    border-bottom: 4px solid #04191C;
}

nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 5px 10px ;
}
nav ul li a { 
    text-decoration: none;
    font-size: 1.32rem;
    color: #e0d8d8;
    font-weight: bold;
    padding: 12px 16px ;
    transition: .5s;
}
nav ul li a:hover {
    background: #000;
    color: #f00;
    border-radius: 8px;
}

nav div{
    color: #fff;
}

/* hero area code start  */

.header{
    padding: 200px 0;
    background-image: url(../web_create/image/image-1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.search_box_icon_parent{
    display: flex;
    justify-content: center;
}
.search_box_icon_parent i {
    width: 50px;
    height: 40px;
    color: #fff;
    font-size: 30px ;
    background-color: #09070d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: -5px;
    cursor: pointer;
}
.search_box_icon_parent input{
    width: 400px;
    height: 40px;
     border-radius: 5px ;
     font-size: 20px;
     border: none;
     padding-left: 20px;
}

/* main section code start  */

main {
    background-color: #04191C;
}

.main_section{
    width: 1000px;
    margin: 0 auto;
    padding: 50px;

    border: red solid 5px;
}
.section_video_item{
    display: flex;
    justify-content: space-between;
}
.section_video_item h3,h4{
    color: #daecf4ee;
    font-size: 23px;
    font-weight: bold;
}
.section_video_item span{
    margin: 0 10px;
    padding: 5px;
    border-radius: 4px;
    background-color: #757878;
    border: 1px solid #80805b;
    cursor: pointer;
}